html{
   font-size: 62.5%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
}
h1{
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
    font-style: italic;
}

img{
    width: 100%;
}

ul li{
    line-height: 2rem;
}